<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学IT - 后台管理系统</title>
    <style>
    #SWFUpload_0{
       /* background-color: green!important;*/
        
    }
   </style>
   <?php include( './views/common/style.html' ) ?>

</head>
<body>
    
    <!-- 侧边栏 -->
     <?php include( './views/common/aside.html' ) ?>
    <!-- 主体 -->
    <div class="main">
        <div class="container-fluid">
            <!-- 头部 -->
            <?php include( './views/common/header.html' ) ?>
            <!-- 讲师资料 -->
            <div class="body teacher-profile">
                <div class="settings">
                   
                </div>
            </div>
        </div>
    </div>

    <?php include( './views/common/script.html' ) ?>
    <script type="text/template" id="settingFormTpl">
         <form id="profileForm" class="form-horizontal">
         <input type="hidden" name="tc_id" value="{{ tc_id }}">
                        <div class="form-group">
                            <label for="" class="col-md-3 control-label">姓名</label>
                            <div class="col-md-5">
                                <p class="form-control-static">{{tc_name}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-md-3 control-label">头像</label>
                            <div class="col-md-2 preview">
                                <img id="upImg" src="{{tc_avatar||'./images/default.png'}}">
                                <input type="file" id="upfile"  style="background-color: transparent;">
                                <div class="cover">
                                    <i class="fa fa-upload"></i>                  
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-md-3 control-label">昵称</label>
                            <div class="col-md-5">
                                <input type="text" 
                                       class="form-control input-sm" 
                                       value="{{tc_roster}}"
                                       data-required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-md-3 control-label">性别</label>
                            <div class="col-md-3">
                                <label class="radio-inline">
                                    <input type="radio" 
                                            name='tc_gender'
                                            value='0'
                                            {{ if tc_gender == 0 }}checked{{ /if }}> 男
                                </label>
                                <label class="radio-inline">
                                    <input type="radio"
                                           name='tc_gender'
                                           value='1'
                                            {{ if tc_gender == 1 }}checked{{ /if }}> 女
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-md-3 control-label">出生日期</label>
                            <div class="col-md-5">
                                <input type="text" 
                                class="form-control input-sm"
                                value="{{ tc_birthday }}"
                                data-provide="datepicker"
                                data-date-language="zh-CN"
                                data-date-format="yyyy-mm-dd"
                                name="tc_birthday">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-md-3 control-label">籍贯</label>
                        
                            <div class="col-md-5 hometown" >
                                <select name="tc_province" 
                                        class="form-control input-sm" 
                                        id="p"
                                        data-id='{{tc_province}}'>
                                    <option value="">请选择省</option>
                                    
                                </select>
                                <select name="tc_city" 
                                        class="form-control input-sm"
                                        id="c"
                                        data-id="{{tc_city}}">
                                    <option value="">请选择市</option>
                                    
                                </select>
                                <select name="tc_district" 
                                        class="form-control input-sm"
                                        id="d"
                                        data-id="{{tc_district}}">
                                    <option value="">请选择区县</option>
                                    
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-md-3 control-label">手机号码</label>
                            <div class="col-md-5">
                                <input type="text" 
                                       class="form-control input-sm"
                                       name="tc_cellphone"
                                       value="{{tc_cellphone}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-md-3 control-label">电子邮箱</label>
                            <div class="col-md-5">
                                <input type="text" 
                                       class="form-control input-sm"
                                       name="tc_email"
                                       value="{{tc_email}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-md-3 control-label">入职日期</label>
                            <div class="col-md-5">
                                <input type="text" 
                                       class="form-control input-sm"
                                       data-provide='datepicker'
                                       data-date-language='zh-CN'
                                       data-date-format='yyyy-mm-dd'
                                       name='tc_join_date'
                                       value="{{tc_join_date}}" 
                                       >
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-md-3 control-label">个人介绍</label>
                            <div class="col-md-5 ckeditor">
                                <textarea name="tc_introduce"
                                          id="tc_introduce" 
                                          rows="15" 
                                          class="form-control input-sm">
                                          {{@ tc_introduce }}</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-8">
                                <input type="submit"class="btn btn-success btn-sm pull-right" value="保存">  
                                <a href="/repass" class="btn btn-link btn-sm pull-right">更改密码？</a>
                            </div>
                        </div>
                    </form>
    </script>
    <script>    
    require(['settings'])
    </script>
</body>
</html>